# object and build files
*.pb.h
*.pb.cc
*_pb2.py
*.pyc
.*.swp
*.kate-swp
*.orig
obj
build/sloccount.sc
build/.last_executed
build/messages.log
build/debug-symbols.dat
build/behavior-ic.dat
build/pc
build/simulator
build/robot2012
build/log
build/*

# documentation
doc/xabsl
doc/doxygen
doc/modules*
doc/doxyerrors.log

# random stuff
FUmanoid.make
BerlinUnited.make
Cognition.make
Motion.make
/Makefile
*~
*.kate-swp
*.kdev4
tags
images/*pbi
messages.log
cppcheck-result.xml
core
src/buildInfo.h
src/default.h.gch
.ropeproject
src/modules/cognition/behaviorLayer/xabsl/Options/Test/Test.xabsl

# post and pre build scrips
bin/custom_postbuild_commands.sh
bin/custom_prebuild_commands.sh

bin/noise_analysis/raw/
bin/noise_analysis/

# eclipse
.metadata
.settings

*.config
*.creator
*.creator.user
*.files
*.includes

*.pbl
